db:
    image: percona
    restart: always
    env_file: conf/mysql
    volumes:
        - ./db/conf.d:/etc/mysql/conf.d

dbclient:
    image: percona
    command: bash
    links:
        - db

redis:
    image: redis
    restart: always

mailcatcher:
    image: schickling/mailcatcher
    restart: always

blackfire:
    image: blackfire/blackfire
    restart: always
    env_file:
        - conf/blackfire

blackfireclient:
    image: blackfire/blackfire
    command: blackfire version
    net: host
    env_file:
        - conf/blackfire

php5:
    build: php5
    restart: always
    volumes:
        - ${HOME}/.ssh/id_rsa:/data/.ssh/id_rsa:ro
    links:
        - db
        - mailcatcher
        - redis
        - blackfire

php7:
    build: php7
    restart: always
    volumes:
        - ${HOME}/.ssh/id_rsa:/data/.ssh/id_rsa:ro
    links:
        - db
        - mailcatcher
        - redis
        - blackfire

web:
    build: nginx
    restart: always
    links:
        - php5:fpm
        - php5:fpm5
        - php7:fpm7
        - mailcatcher
    ports:
        - 80:80
        - 443:433
